<mat-toolbar color="primary">

  <a class="app-title"
          [routerLink]="['/views/home']"
          mat-button>
    Groupease
  </a>

  <ng-container *ngIf="authService.isAuthenticated(); else noAuth">
    <a [routerLink]="['/views/dashboard']"
       mat-button>
      Dashboard
    </a>

    <button (click)="authService.logout()"
            mat-button>
      Sign out
    </button>
  </ng-container>

  <ng-template #noAuth>
    <button (click)="authService.login()"
            mat-button>
      Sign in
    </button>
  </ng-template>

</mat-toolbar>
