<div class="channel-list-container">

  <mat-nav-list>

    <h1 mat-subheader>
      Member Channels
    </h1>

    <ng-container *ngIf="channelListObservable | async as channelList; else loading">

      <a [routerLink]="['/views/channels', channel.id]"
         mat-list-item
         *ngFor="let channel of channelList">

        <mat-icon matListIcon>
          domain
        </mat-icon>

        <h2 matLine>
          {{channel.name}}
        </h2>

      </a>

      <p *ngIf="!channelList.length">
        You are not a member of any channels. Add one!
      </p>

    </ng-container>

    <ng-template #loading>
      <mat-progress-bar mode="indeterminate">
      </mat-progress-bar>
    </ng-template>

  </mat-nav-list>

</div>
